*{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }

  body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  #articleOne{
    padding: 0px 10px;
  }

  h1 , h2 {
    font-family: 'Domine', serif;
    font-size: 26px;
    text-align: center;
  }
  
  #navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: white;
  
  }

  .sign{
    align-items: center;
    font-weight: 700;
   background-color:#91bd3a;
   border: 3px solid black;
   position: relative;
   top: 350px;
   left: -190px;
   width: 80vw;
   height: 30vh;
   border-radius: 25%;
   display: none;
  }
 
  .not{
    position: relative;
    left: 50px;
    top:10px;
  }
 
  .sign input{
    align-items: center;
    margin-left: 50px;
 
  }
  /*when you click on the button it automatically hides back the info*/
  .signB{
    background-color: #ffa259;
    padding:16px 20px;
    color: white;
    border: none;
    cursor: none;
    width:60%;
    opacity: 0.8;
    position: relative;
    left: 68px;
  }

  #notification{
    fill: white;
    position: fixed;
    top: 580px;
    left: 330px;
    background-color: #fa4252;
    padding: 10px;
    border-radius: 50%;
}
  
  #logo{
    padding: 0 0 5px 50px;
  
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  
  }
    
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  
  }
    
  .sidenav a:hover{
    color: #fa4252;
  
  }
    
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
  }
  
  /* sidenav bar */
  .container {
    display: inline-block;
    margin: 15px;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0 0 6px;
  }
  
  .expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden;
  
    }
    .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
    }
  
    .expandSearch i:hover{
    color: #0bf;
  
    }
  
  .expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 8px 0px 8px 34px;
  
  }
  .expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:200px;
    padding: 8px 12px 8px 34px;
    border-color: #91bd3a;
  
  }
  .expandSearch input:focus + i{
    /*padding: 8px 4px 8px 8px ;*/
    color: #ddd;
    pointer-events: none;
  
  }
  
  
  #update {
      color: white;
  
  }
  
  #submit {
      height: 41px;
      width: 100px;
      font-size: 13px;
      font-weight: bold;
      background-color: #91bd3a;
      border: none;
  
  }
  
  #privacy {
      color: #91bd3a ;
      text-align: left;
      padding-left: 15px ;
  
  }
  
    /*new icons*/
  
  label {
    position: relative;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
  
  }

  label.expandSearch:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
    
  input {
    padding: 10px 30px;

  }
    
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
  
  }
    
  .sidenav a:hover{
    color: #fa4252;
  
  }
    
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
  }
  
  /* sidenav bar */
  .container {
    display: inline-block;
    margin: 15px;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0 0 6px;
  
  }
  
  .expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden;
  
  }
  
  .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
  
  }
  
  .expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 8px 0px 8px 34px;
  
  }
  
  .expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:200px;
    padding: 8px 12px 8px 34px;
    border-color: #0bf;
  
  }
  
  .expandSearch input:focus + i{
    /*padding: 8px 4px 8px 8px ;*/
    color: #ddd;
    pointer-events: none;
  
  }
  
  #update {
    color: white;
  
  }
  
  #submit {
    height: 41px;
    width: 100px;
    font-size: 13px;
    font-weight: bold;
    background-color: #91bd3a;
    border: none;
  
  }
  
  #privacy {
    color: #91bd3a ;
    text-align: left;
    padding-left: 15px ;
  
  }
  
  /*new icons*/
  label {
    position: relative;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
   
  
  }

  label.expandSearch:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
    
  input {
    padding: 10px 30px;
  
  }
   
  label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
  
  }
    
  label > input {
    padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
    height: 2em;
  
  }
    
  /* SVG SpriteSheet */
  .spritesheet {
    display: none;
  
  }
    
  .spritesheet {
    display: none;
  
  }
    
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
  }
  
  .search{
      position: absolute;
      right: 25px;
      top: 15px;
  
  }
  
  .one {
      width: 100vw;
      height: 90vh;
  
  }
  
  #footer {
    background-color: black;
    width: 100vw;
    height: 10vh;

  }
    
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
  }
  
  .search{
    position: absolute;
    right: 25px;
    top: 15px;
  
  }
  
  .one {
    width: 100vw;
    height: 90vh;
  
  }
  
  #footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    
  }
  
  #facebook, #instagram , #twitter , #whatsapp {
    fill: #fa4252;
  
  }
  
  #whatsapp {
    position: absolute;
    left: 350px;
      
  }
  
  #twitter {
    position: absolute;
    left: 310px;
      
  }
  
  #instagram {
    position: absolute;
    left: 270px;
      
  }
  
  #facebook {
    position: absolute;
    left: 230px;
      
  }
  
  .para {
    color: white;
    position: relative;
    left: 15px;
    top: 25px;
  
  
  }
  
  .fixtureSection{
    position: relative;
    bottom: 350px;
  
  }

  /* PopUp code inspired by W3Schools and edited */

/* The popup form - hidden by default*/
.form-popup {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 50px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #91bd3a;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=cellphone] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} 

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=cellphone]:focus {
  background-color: #ddd;
  outline: none;
}


 .form-container .btn {
  background-color: #ffa259;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: none;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
} 

/* close button option */
#close {
  position: absolute;
  left: 285px;
  top: 08px;
}