*{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

h1 , h2{
    font-family: 'Domine', serif; 
    text-align: center;
}

h3{
    font-size:bold;
    font-family: 'Domine', serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #fa4252;
}

.main{
    width: 100vw;
    transition: 0.5s;
}

/* this is the navigation bar mobile */
#navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: white;
    z-index: 1;
}

/* sidenav bars */
.container {
    display: inline-block;
    margin: 15px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0 0 6px;
}

#logo{
    position: relative;
    left: 25px;
    top: 0px;
    width: 165px;
    height: 50px;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: hidden;
    overflow-x: hidden;

}

.sidenav svg{
    margin-right: 15px;
    
}

.sidenav a {
    font-family: 'Domine', serif; 
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 1.2em;
    color:white;
    display: block;
}

.sidenav a:hover{
    color: #fa4252;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* search icon */
.expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden; 
}

.expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
}

.expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 0 0 0 34px;
}

.expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:160px;
    padding: 8px 12px 8px 34px;
    border-color: #91bd3a;
}

.expandSearch input:focus + i{
    color: #ddd;
    pointer-events: none;
}

/* input in the manue */
#update {
    color: white;
    text-align: center;
}
.inputSub{
    margin-left: 25px;
    width: 80px;
    padding-bottom: 8px;
    border: none;
}

#submit {
    height: 34px;
    width: 70px;
    font-size: 1em;
    font-weight: bold;
    background-color: #91bd3a;
    border: none;
    text-align: center;
}

#privacy {
    color: #91bd3a ;
    text-align: left;
    padding-left: 25px ;
}

/*new icons*/
label {
    position: relative;
}

label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

input {
    padding: 10px 30px;
}

label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
}

label > input {
    padding-left: calc(1em + 10px + 8px);
    height: 2em;
}

/* SVG SpriteSheet */
.spritesheet {
    display: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    z-index: -5;
}

.search{
    position: absolute;
    right: 15px;
    top: 15px;
}

/* first section of the page */
.story{
    text-align: center;
}
/* The popup form - hidden by default*/

.form-popup {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 20px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
  /* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #91bd3a;
}

.form-container label::before{
    display: none;
}

  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=cellphone] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
} 
  
  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=cellphone]:focus {
    background-color: #ddd;
    outline: none;
}
  
  
.form-container .btn {
    background-color: #ffa259;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: none;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
} 
  
  /* close button option */
#close {
    position: absolute;
    left: 285px;
    top: 08px;
}

/* first heading of the page */
.contributors{
    text-align: center; 
}
/* the somethin of the week */
.heading {
    text-align: center;
}
/* the columnist section starts */
.columnist{
    text-align: center;
}

.editer{
    margin-left: 10px;
    border-radius: 50%;
}

.writer-name{
    position: absolute;
    top: 830px;
    left: 180px;
    padding-right: 10px;
    width: 180px;
    transition: 10s;
}

.writer-name2{
    position: absolute;
    top: 1000px;
    left: 180px;
    padding-right: 10px;
    width: 180px;
    transition: 5s;
}

.writer-name3{
    position: absolute;
    top: 1170px;
    left: 180px;
    font-size: 1em;
    padding-right: 8px;
    width: 180px;
    transition: 1s; 
}

/* this is the bell */
#notification{
    fill: white;
    position: fixed;
    top: 500px;
    left: 290px;
    background-color: #fa4252;
    padding: 10px;
    border-radius: 50%;
    opacity: 0.8;
}

/* signup popup bell */
.sign{
    font-weight: 700;
    background-color:#91bd3a;
    border: 3px solid rgb(255, 251, 251);
    position: fixed;
    bottom: 250px;
    right: 35px;
    width: 80vw;
    height: 40vh;
    display: none;
}
  
.not{
    position: relative;
    left: 60px;
    top:10px;
}
  
.sign input{
    align-items: center;
    margin-left: 35px;
}

  /*when you click on the button it automatically hides back the info*/
.signB{
    background-color: #ffa259;
    padding:16px 20px;
    color: white;
    border: none;
    cursor: none;
    width:60%;
    opacity: 0.8;
    position: relative;
    left: 60px;
}

/* this is the footer and the icons*/
#footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    position: relative;
    bottom: 0;
}

#facebook, #instagram , #twitter , #whatsapp {
    fill: #fa4252;
}

#whatsapp {
    position: absolute;
    left: 315px; 
}

#twitter {
    position: absolute;
    left: 275px; 
}

#instagram {
    position: absolute;
    left: 235px;   
}

#facebook {
    position: absolute;
    left: 195px;   
}
  
.para {
    color: white;
    position: relative;
    left: 15px;
    top: 25px;
}

