*{
    margin: 0;
    overflow-x: hidden;
    padding: 0px;
  
  }

  body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    overflow-x: hidden;
  }
  
  #navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: white;
    z-index: 1;
  
  }
  
  #logo{
    position: fixed;
    left: 110px;
    top: 10px;
  }

  .search {
    position: relative;
    left: 310px;
  }

  .wrapper {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top:50px;
    left:0;
    display: none;
  }

  .sign{
    font-weight: 700;
    background: rgb(203,231,148);
    background: linear-gradient(56deg, rgba(203,231,148,1) 9%, rgba(145,189,58,1) 68%);
    border: none;
    position: fixed;
    bottom: 185px;
    left: 32px;
    width: 80vw;
    height: 40vh;
    display: none;
    color: whitesmoke;
    text-align: left;
    margin-left: 3px;
  }
  
  .not{
    position: relative;
    text-align: left;
    margin-left: 10px;
    top:10px;
  }

  #q {
    font-size: 26px;
    font-weight: lighter;
    margin-left: 10px;
  }

  #acc {
    margin-left: 6px;
    font-size: 14px;
  }

  #log{
    font-weight: bolder;
    position: relative;
    left: 170px;
    bottom: 18.3px;
  }
  
  input[type=number] {
    background-color:#91bd3a;
    background: rgb(203,231,148);
    background: linear-gradient(56deg, rgba(203,231,148,1) 9%, rgba(145,189,58,1) 68%);
    border: none;
    border-bottom: 2px solid white;
    text-align: left;
    margin-left: 12px;
    padding-left:70px;
  }
  
  .mini {
    background-color: white;
    border: none;
    color: #91bd3a;
    text-align: center;
    font-size: 14px;
    border-radius: 100px;
    position: absolute;
    right: 215px;
    bottom: 90px;
    width: 50px;
    height: 25px;

  }

  .mini p {
    padding-top: 4.5px;
  }

  #myForm {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top:50px;
    left:0;
    display: none;
  }

  
  .sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100vw;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  
  }
    
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  
  }
    
  .sidenav a:hover{
    color: #fa4252;
  
  }
    
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
  }
  
  /* sidenav bar */
  .container {
    display: inline-block;
    margin: 15px;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0 0 6px;
  }
  
  .expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden;
  
  }

    .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
    }
  
    .expandSearch i:hover{
    color: #0bf;
  
    }
  
  .expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 8px 0px 8px 34px;
  
  }
  .expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:200px;
    padding: 8px 12px 8px 34px;
    border-color: #91bd3a;
  
  }
  .expandSearch input:focus + i{
    /*padding: 8px 4px 8px 8px ;*/
    color: #ddd;
    pointer-events: none;
  
  }

  .notification{
    fill: white;
    position: fixed;
    top: 530px;
    left: 290px;
    background-color: #fa4252;
    padding: 10px;
    border-radius: 50%;
    opacity: 0.8;
}
 
  
  
  #update {
      color: white;
  
  }

  h1 , h2 {
    font-family: 'Domine', serif;
    font-size: 26px;
    text-align: center;
  }

  h3 {
    font-family: 'Domine', serif;
    font-size: 14px;
    text-align: center;
  }

  a {
    color: #fa4252;
    text-decoration: none;
  }

  #paraTwo {
    padding: 10px;
  }
  
  #submit {
      height: 40px;
      width: 100px;
      font-size: 13px;
      font-weight: bold;
      background-color: #91bd3a;
      border: none;
  
  }
  
  #privacy {
      color: #91bd3a ;
      position: relative;
      bottom: 10px;
      text-align: left;
      padding-left: 15px ;
  
  }
  
  
  label {
    position: relative;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;  
  }
 

  label.expandSearch:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
    
  input {
    padding: 10px 30px;
  
  }
    
    
  label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
  
  }
    
  label > input {
    padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
    height: 2em;
  
  }
    
    /*
      SVG SpriteSheet
    */
    
  .spritesheet {
    display: none;
  
  }
    
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
  }
  
  .search{
      position: absolute;
      right: 25px;
      top: 15px;
  
  }
  
  
  #footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    /* padding-bottom: 10px; */

    }
  
  #facebook, #instagram , #twitter , #whatsapp {
    fill: #fa4252;
  
  }
  
  #whatsapp {
    position: absolute;
    left: 330px;
      
  }
  
  #twitter {
    position: absolute;
    left: 290px;
      
  }
  
  #instagram {
    position: absolute;
    left: 250px;

  }
  
  #facebook {
    position: absolute;
    left: 210px;
      
  }
  
  .para {
    color: white;
    position: relative;
    left: 15px;
    top: 25px;

  }

  /* scroller code supported by create */
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
  }
  
  .card {
    display: inline-block;
    width: 60vw;
    height: 70vw;
    overflow: hidden;

  }


  .peach {
    width: 80vw;
    height: 30vh;
    border-radius: 50px;
    background-color: #ffa259;
    background: rgb(145,189,58);
background: linear-gradient(56deg, rgba(145,189,58,1) 0%, rgba(255,162,89,1) 50%, rgba(250,66,82,1) 96%);
    opacity: 0.9;
    text-align: center;
    position: relative;
    left: 35px;

  }

  #hero {
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    top: 20px;
    padding: 5px;
    color: whitesmoke;
  }

  #rytOne{
    position: relative;
    top: 30px;
    left: 75px;
    fill: whitesmoke;
  }

  .olive {
    width: 80vw;
    height: 30vh;
    border-radius: 50px;
    background-color: #91bd3a;
    background: rgb(255,162,89);
    background: linear-gradient(56deg, rgba(255,162,89,1) 4%, rgba(145,189,58,1) 50%, rgba(254,104,69,1) 81%);
    opacity: 0.9;
    position: relative;
    left: 35px;
  }

  #pride{
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    top: 20px;
    padding: 5px;
    color: white;
  }

  #rytTwo{
    position: relative;
    top: 14.5px;
    left: 200px;
    fill: whitesmoke;
  }

  .oranjish {
    width: 80vw;
    height: 30vh;
    border-radius: 50px;
    /* background-color: #fe6845; */
    background: rgb(255,162,89);
    background: linear-gradient(56deg, rgba(255,162,89,1) 4%, rgba(145,189,58,1) 50%, rgba(254,104,69,1) 81%);
    opacity: 0.9;
    position: relative;
    left: 35px;
  }

  #money {
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    top: 20px;
    padding: 5px;
    color: white;
  }

  #rytThree{
    position: relative;
    top: 14.5px;
    left: 195px;
    fill:  whitesmoke;
  }
  
    /* PopUp code inspired by W3Schools and edited */

/* The popup form - hidden by default*/

  .form-popup {
    display: none;
    position: fixed;
    top: 100px;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 9;
  }

/* Add styles to the form container */
  .form-container {
    max-width: 300px;
    position: fixed;
    top: 115px;
    left: 20px;
    padding: 10px;
    background-color: #91bd3a;
    background: rgb(203,231,148);
    background: linear-gradient(56deg, rgba(203,231,148,1) 9%, rgba(145,189,58,1) 68%);
    color: white;
  }

/* Full-width input fields */
  .form-container input[type=text], .form-container input[type=cellphone] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  } 

/* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=cellphone]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 25px;
  }

 .form-container .btn {
  background-color: #ffa259;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: none;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
} 

/* close button option */
  #close {
    position: absolute;
    left: 280px;
    top: 07px;
    fill: white;
  }

  #female {
    position: relative;
    left: 200px; 
    fill: white;
    
  }

  #male {
    position: relative;
    fill: white;
    
  }


  

