/*universal Styling*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Domine', serif;
    overflow-x: hidden;
     
}
/* didnt want html have the x-axis*/
html{
    overflow-x: hidden;
    max-width: 100%;
}

.art{
  display: grid;
  grid-template-columns: 5vw 43.5vw  3vw 43.5vw 5vw;
  grid-template-rows: 10vh 2vh 5vh 2vh 30vh 2vh 61vh 2vh 3vh 5vh 19vh 2vh 20vh 2vh 5vh 2vh 5vh 0.2vh 20vh 2vh 
  10vh 0vh 20vh 20vh 10vh;
}
  
  #navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: white;
  
  }
  
  #logo{
    padding: 0 0 5px 50px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  
  }
    
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  
  }
    
  .sidenav a:hover{
    color: #fa4252;
  
  }
    
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
  }
  
  /* sidenav bar */
  .container {
    display: inline-block;
    margin: 15px;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0 0 6px;
  }
  
  .expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden;
  
    } /*here is where the search icon is created, it is inline because it has to open from the left to right and the icon with the search have to be inline*/
    .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
    } /*position is zero as the input shouldnt be showing, only when clicked the transition will be 0.24s to open*/
  
    .expandSearch i:hover{
    color: #0bf;
  /*wanted that when you hover on the search ir changes to the color*/
    }
  
  .expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 8px 0px 8px 34px;
  
  } /*this for the border around the the icon which is optional, but in this case, we dont want it*/
  .expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:200px;
    padding: 8px 12px 8px 34px;
    border-color: #0bf;
  
  }
  .expandSearch input:focus + i{
    /*padding: 8px 4px 8px 8px ;*/
    color: #ddd;
    pointer-events: none;
  
  }
  
  
  #update {
      color: white;
  
  }
  
  #submit {
      height: 41px;
      width: 100px;
      font-size: 13px;
      font-weight: bold;
      background-color: #91bd3a;
      border: none;
  
  }
  
  #privacy {
      color: #91bd3a ;
      text-align: left;
      padding-left: 15px ;
  
  }
  
    /*new icons*/
  
  label {
    position: relative;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  
  }
    
  input {
    padding: 10px 30px;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  
  }
    
  input {
    padding: 10px 30px;
  
  }
   
  
  label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
  
  }
    
  
    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
    
  
  label > input {
    padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
    height: 2em;
  
  }
    
  /* SVG SpriteSheet */
  .spritesheet {
    display: none;
  
  }
    
  .spritesheet {
    display: none;
  
  }
    
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
  }
  
  .search{
      position: absolute;
      right: 25px;
      top: 15px;
  
  }
  
  .heading{
      grid-area: 3/2/span 1/span 3;
  }  
  img{
    grid-area: 5/2/span 1/span 3;
  }
  .write{
    grid-area: 7/2/span 1/span 3;
  }
  .name{
    width: 358px;
    height: 30px;
  }

  .com9{
      grid-area: 9/2/span 1/ span 4;
      background-color:#91bd3a;
      width: 92%;
  }
  .mosa{
      grid-area: 11/2/ span 1/ span 4;
  }
  .pamela{
      grid-area: 13/2/span 1 /span 4;
  }
  .round{
      grid-area: 15/3/span 1 / span 4;
      width:25px;
      height:25px;
      border-radius: 50%;
      background-color: #fe6845 ;
  }
  .own{
      grid-area: 17/2/span 2 / span 4;
      background-color:#91bd3a;
      width: 92%;
  }
  .comment{
    grid-area: 19/2/span 1/span 4 ;
  }

  .light{
      grid-area: 21/2/span 1/span 4;
      background-color:#91bd3a;
      width: 92%;
  }
  .Os{
      grid-area: 23/2/span 1/span 1;
  }
  .Ost{
      grid-area: 23/4/span 1/ span 1;
  }
  .Oc{
    grid-area: 24/2/span 1/span 1;
}
.Oct{
    grid-area: 24/4/span 1/ span 1;
}
.Ob{  
  grid-area: 25/2/span 1/ span 1;
}
.Obt{
  grid-area: 25/4/span 1/ span 1;
}


 .send{
    width:25px;
    height:25px;
    border-radius: 50%;
    position: relative;
    left: -35px;
    bottom:10px;
    background-color: #fe6845 ;

  }
  
  #footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 25px;
    grid-area: 26/2/span 1/ span 5;
  }
  
  #facebook, #instagram , #twitter , #whatsapp {
    fill: #fa4252;
  
  }
  
  #whatsapp {
    position: absolute;
    left: 350px;
      
  }
  
  #twitter {
    position: absolute;
    left: 310px;
      
  }
  
  #instagram {
    position: absolute;
    left: 270px;
      
  }
  
  #facebook {
    position: absolute;
    left: 230px;
      
  }
  
  .para {
    color: white;
    position: relative;
    left: 15px;
    top: 25px;
  
  }