/*universal Styling*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Domine', serif;
     
}
/* didnt want html have the x-axis*/
html{
    overflow-x: hidden;
    max-width: 100%;
}



.grid{
    display: grid;
    grid-template-columns: 5vw 20.5vw  20.5vw 8vw 20.5vw 20.5vw 5vw;
    grid-template-rows: 1vh 2vh 4vh 25vh 3vh 30vh 3vh 5vh 32vh 2vh 5vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 10vh;
    
}

#navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
  
  }
  
  #logo{
    padding: 0 0 5px 50px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    
  
  }
    
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  
  }
    
  .sidenav a:hover{
    color: #fa4252;
  
  }
    
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
  }
  
  /* sidenav bar */
  .container {
    display: inline-block;
    margin: 15px;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0 0 6px;
  }
  
  .expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden;
  
    }
    .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
    }
  
    .expandSearch i:hover{
    color: #0bf;
  
    }
  
  .expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 8px 0px 8px 34px;
  
  }
  .expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:200px;
    padding: 8px 12px 8px 34px;
    border-color:#91bd3a;
  
  }
  .expandSearch input:focus + i{
    /*padding: 8px 4px 8px 8px ;*/
    color: #ddd;
    pointer-events: none;
  
  }
  
  
  #update {
      color: white;
  
  }
  
  #submit {
      height: 41px;
      width: 100px;
      font-size: 13px;
      font-weight: bold;
      background-color: #91bd3a;
      border: none;
  
  }
  
  #privacy {
      color: #91bd3a ;
      text-align: left;
      padding-left: 15px ;
  
  }
  
    /*new icons*/
  
  label {
    position: relative;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  
  }
    
  input {
    padding: 10px 30px;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  
  }
    
  input {
    padding: 10px 30px;
  
  }
   
  
  label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
  
  }
    
  
    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      z-index: 1;
    }
    
  
  label > input {
    padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
    height: 2em;
  
  }
    
  /* SVG SpriteSheet */
  .spritesheet {
    display: none;
  
  }
    
  .spritesheet {
    display: none;
  
  }
    
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
  }
  
  .search{
      position: absolute;
      right: 25px;
      top: 15px;
  
  }

  a{
    text-decoration: none;
    color: #fa4252;
    font-size: 14px;
  }

.section{
    grid-area: 2/4/ span 1/span 5;
    font-family: 'Domine', serif;
    position: relative;
    right: 40px;
  
}
.soccer{
     grid-area: 4/2/span 1 /span 2;  
     font-family: 'Domine', serif;
     height: 50vh;
     

}
.soccer:hover{
  color: #fa4252;
}
.swim{
    grid-area: 4/5/span 1/ span 2;
    font-family: 'Domine', serif;
}
.swim:hover{
  color: #fa4252;
}
.basketball{
    grid-area: 6/2/span 1 / span 2;
    font-family: 'Domine', serif;
}
.basketball:hover{
  color: #fa4252;
}
.cricket{
    grid-area: 6/5/span 1 / span 2;
    font-family: 'Domine', serif;

}
.cricket:hover{
  color: #fa4252;
}
.fixtureT{
    grid-area: 8/2/span 1 / span 5;
    font-size: 20px;
    position: relative;
    left: 30px;
}
.BG{
    grid-area: 9/2/span 1 / span 5;
    z-index: -10;
  
}
.fix{
    position: relative;
    top: 625px;
    left: 140px;
    height: 50px;
    border-radius: 25%;
    text-transform: uppercase;
    background-color: #fe6845;
    font-family: 'Domine', serif;
    z-index: 1;
 
}
.soc{
    position: relative;
    top:625px;
    left: 65px;
    height: 50px;
    width:90px;
    border-radius: 25%;
    text-transform: uppercase;
    background-color: #fe6845;
    font-family: 'Domine', serif;
    z-index: 1;
   


}
.otherNews{
    grid-area: 11/3/span 1 / span 5;
    font-family: 'Domine', serif;
    font-size: 26px;
}
.img1{
    grid-area: 13/2/span 1 / span 2;

}
.img1t{
    grid-area: 13/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.img1t:hover{
    color: #fe6845;
}
.img2{
    grid-area: 15/2/span 1 / span 2;
}
    
.img2t{
    grid-area: 15/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.img2t:hover{
    color: #fe6845;
}
.img3{
    grid-area: 17/2/span 1 / span 2;
}
.img3t{
    grid-area: 17/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.img3t:hover{
    color: #fe6845;
}

.img4{
    grid-area: 19/2/span 1 / span 2;
}
.img4t{
    grid-area: 19/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.img4t:hover{
    color: #fe6845;
}
#notification{
  fill: white;
  position: fixed;
  top: 530px;
  left: 310px;
  width:60px;
    height: 60px;
  background-color: #fa4252;
  padding: 10px;
  border-radius: 50%;
}
/*made it in a way that when you click on it, it allows you to fill in your infomation*/
.sign{
  align-items: center;
  font-weight: 700;
 background-color:#91bd3a;
 border: 3px solid black;
 position: relative;
 top: 350px;
 left: -190px;
 width: 80vw;
 height: 30vh;
 display: none;
}

.not{
  position: relative;
  left: 50px;
  top:10px;
}

.sign input{
  align-items: center;
  margin-left: 50px;

}
/*when you click on the button it automatically hides back the info*/
.signB{
  background-color: #ffa259;
  padding:16px 20px;
  color: white;
  border: none;
  cursor: none;
  width:60%;
  opacity: 0.8;
  position: relative;
  left: 68px;
}

#footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    grid-area: 21/1/span 1 / span 5;
    
  }
  
  #facebook, #instagram , #twitter , #whatsapp {
    fill: #fa4252;
  
  }
  
  #whatsapp {
    position: absolute;
    left: 350px;
      
  }
  
  #twitter {
    position: absolute;
    left: 310px;
      
  }
  
  #instagram {
    position: absolute;
    left: 270px;
      
  }
  
  #facebook {
    position: absolute;
    left: 230px;
      
  }
  
  .para {
    color: white;
    position: relative;
    left: 15px;
    top: 25px;
  
  }
  

 