/*universal Styling*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Domine', serif;
    
     
}
/* didnt want html have the x-axis*/
body,html{
  margin:0;
    overflow-x: hidden;
}
/*stylig for the 1st page you see when you log on to the punch website*/
.optionPage{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(250,66,82,1) 50%);
  height: 100%;
  display: none;
}

.optionPage img{
  width:60%;
  position: relative;
  left: 18%;
  top: 20px;
}
.also{
  font-size: 10px;
  margin-top: 0;
  padding-top: 0;
  color: red;
}

.you{
  font-weight: 700;
  color: white;
  position: relative;
  top:50px;
  left: 50px;
}
.Up{
  padding:20px;
  width: 250px;
  position:relative;
  top:100px;
  left: 50px;
  border: thick double #91bd3a;
  color: #91bd3a;
  background-color: #f1f1f1;
  font-weight: 700;
  
}

.In{
  padding:20px;
  width: 250px;
  position:relative;
  border: thick double #91bd3a;
  top:100px;
  left: 50px;
  color: #91bd3a;
  background-color: #f1f1f1;
  font-weight: 700;
}
.logoutbtn{
  padding:20px;
  width: 250px;
  position:relative;
  border: thick double #91bd3a;
  top:100px;
  left: 50px;
  color: #91bd3a;
  background-color: #f1f1f1;
  font-weight: 700;
}

#fuel1{
  position: relative;
  top: 185px;
  left: 93px;
  color: white;
  
}
#fuel{
  position: relative;
  top: 170px;
  left: 190px;
}
/*styling for the 1st page login form*/

.P1{
  position: relative;
  left: 80px;
  top: 15px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #91bd3a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-left: 15px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

p.avatar {
 border-radius: 50%;
}



span.psw {
  float: right;
  padding-top: 16px;
  padding-right: 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(250,66,82,1) 50%);
  padding: 16px;
  
}

/* Modal Content/Box */
.loginForm {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 9px;
  bottom: 170px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*end of styling for the login form*/

/*styling for the 1st sign up form*/

/* Full-width input fields */

.p{
  position: relative;
  left: 50px;
}
.cam{
  position: relative;
  left: 85px;
  fill:#91bd3a;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #91bd3a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtns {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtns, .signupbtns {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.containerr {
  padding: 16px;
}

/* The Modal (background) */
.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(250,66,82,1) 50%);
  padding-top: 15px;
}

/* Modal Content/Box */
.modals-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.closes {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.closes:hover,
.closes:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfixs::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtns, .signupbtns {
     width: 100%;

  }
}

/* end of styling for the 1st sign up form*/

.main{
  width: 100vw;
  transition: 0.5s;
  display: block;
}
/* this is the navigation bar mobile */
#navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
  
  }
  /* sidenav bar */
  .container {
    display: inline-block;
    margin: 15px;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0 0 6px;
  }
  
  #logo{
    padding: 0 0 5px 50px;
    width: 200px;
    position: relative;
    left: -20px;
  }
  
  
  .sidelogo{
    position: absolute;
    left: 60px;
    top: 14px;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(250,66,82,1) 50%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: hidden;
    overflow-x: hidden;

}

.sidenav svg{
    margin-right: 15px;
    
}

.sidenav a {
    font-family: 'Domine', serif; 
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 1.2em;
    color:white;
    display: block;
}
    
  .sidenav a:hover{
    color: #91bd3a;
    cursor: pointer;
  
  }
    
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
  }
  /* search icon */
  .expandSearch{
    display: inline-block;
    position: relative;
    overflow: hidden;
    }
    /*here is where the search icon is created, it is inline because it has to open from the left to right and the icon with the search have to be inline*/
  .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px ;
    color: #777;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
    }/*position is zero as the input shouldnt be showing, only when clicked the transition will be 0.24s to open*/
  
  .expandSearch input{
    border:none;
    background: transparent;
    font:14px/1.4 sans-serif;
    padding-left: 26px;
    background:#fff;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.24s;
    width: 0px;
    padding: 8px 0px 8px 34px;
  
  }/*this for the border around the the icon which is optional, but in this case, we dont want it*/

  .expandSearch input:focus{
    border-color: #aaa;
    outline: none;
    width:200px;
    padding: 8px 12px 8px 34px;
    border-color:#91bd3a;
  
  }

  .expandSearch input:focus + i{
    /*padding: 8px 4px 8px 8px ;*/
    color: #ddd;
    pointer-events: none;
  
  }

  #update {
      color: white;
      text-align: center;
  
  }
  
  .inputSub{
    margin-left: 25px;
    width: 150px;
    padding-bottom: 9px;
    border: none;
}

#submit {
    height: 34px;
    width: 70px;
    font-size: 1em;
    font-weight: bold;
    background-color: #91bd3a;
    border: none;
    text-align: center;
}
  
  #privacy {
    color: #91bd3a ;
    text-align: left;
    padding-left: 25px ;
    position: relative;
    bottom: 35px;
  
  }
  
    /*new icons*/
  
  label {
    position: relative;
  
  }
    
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    
  
  }
    
  input {
    padding: 10px 30px;
  
  }
    
  label.expandSearch:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
   
  
  label > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: silver;
  
  }
    
  
  .icon {
     display: inline-block;
     width: 1em;
     height: 1em;
     stroke-width: 0;
     stroke: currentColor;
     fill: currentColor;
     z-index: 1;
   }
    
  
  label > input {
    padding-left: calc(1em + 10px + 8px); /* icon width + icon padding-left + desired separation*/
    height: 2em;
  
  }
    
  /* SVG SpriteSheet */
  .spritesheet {
    display: none;
  
  }

  
  .search{
    position: absolute;
    right: 25px;
    top: 15px;
  
  }

/* The popup form - hidden by default*/

#myForm {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top:50px;
  left:0;
  display: none;
}

.form-popup {
  display: none;
  position: fixed;
  top: 100px;
  right: 30px;
  /* border: 3px solid #f1f1f1; */
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  position: fixed;
  top: 115px;
  left: 20px;
  padding: 10px;
  background-color: #91bd3a;
  background: rgb(203,231,148);
  background: linear-gradient(56deg, rgba(203,231,148,1) 9%, rgba(145,189,58,1) 68%);
  color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=cellphone] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} 

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=cellphone]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container h3 {
  font-size: 20px;
  text-align: left;
  margin-left: 25px;
}

.form-container .btn {
background-color: #ffa259;
color: white;
padding: 16px 20px;
border: none;
cursor: none;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
} 

/* close button option */
#close {
  position: absolute;
  left: 270px;
  top: 07px;
  fill: white;
}

#female {
  position: relative;
  left: 200px; 
  fill: white;
  
}

#male {
  position: relative;
  fill: white;
  
}


a{
  text-decoration: none;
  color: #fa4252;
  font-size: 14px;
  cursor: pointer;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

.section{
  position: relative;
  left: 140px;
  font-family: 'Domine', serif;
  
  
}
.soccer{
  grid-area: 4/2/span 1 /span 2;  
  font-family: 'Domine', serif;
  width: 40%;
  position: relative;
  left: 15px;
  top: 20px;
  

}
.bal{
  height:100px;
}

.swim{
grid-area: 4/5/span 1/ span 2;
font-family: 'Domine', serif;
width: 40%;
position: relative;
left: 200px;
bottom: 275px;
height: 300px;
}
.swi{
  height:100px;
}

.basketball{
  grid-area: 6/2/span 1 / span 2;
  font-family: 'Domine', serif;
  width: 63%;
  position: relative;
  left: 10px;
  bottom: 98px;  
}
.bas{
  height:100px;
}

.cricket{
  grid-area: 6/5/span 1 / span 2;
  font-family: 'Domine', serif;
  width: 63%;
  position: relative;
  left: 190px;
  bottom: 410px;
}
.ket{
    height:100px;
  }

.fixtureT{
  position: relative;
  bottom:520px;
  left: 10px;
  width: 500px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #91bd3a ;
}
.BG{
  width: 340px;
  z-index: -10;
  position: relative;
  bottom: 250px;
  
}
.fix{
  position: relative;
  bottom: 420px;
  left: 120px;
  width: 80px;
  text-align: center;
  border-radius: 25%;
  text-transform: uppercase;
  background: rgb(145,189,58);
  background: linear-gradient(129deg, rgba(145,189,58,1) 0%, rgba(200,176,74,1) 7%, rgba(255,162,89,1) 22%);
  font-family: 'Domine', serif;
  z-index: 1;
 
}
.soc{
  position: relative;
  bottom:420px;
  left: 60px;
  text-align: top;
  height: 30px;
  width:80px;
  padding:20px;
  border-radius: 25%;
  text-transform: uppercase;
  background: rgb(145,189,58);
  background: linear-gradient(129deg, rgba(145,189,58,1) 0%, rgba(200,176,74,1) 7%, rgba(255,162,89,1) 22%);
  font-family: 'Domine', serif;
  z-index: 1;

}
.otherNews{
  position: relative;
  bottom: 310px;
  left: 90px;
  font-family: 'Domine', serif;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #91bd3a ;
}
.img1{
  width: 140px;
  position: relative;
  bottom: 280px;

}
.img1t{
  
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  bottom: 440px;
  left: 180px;
  width: 60%;
}

.img2{
  width: 140px;
  position: relative;
  bottom: 390px;
}
    
.img2t{
    grid-area: 15/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 560px;
    left: 180px;
    width: 60%;
}

.img3{
  width: 140px;
  position: relative;
  bottom: 510px;
}
.img3t{
    grid-area: 17/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 680px;
    left: 180px;
    width: 70%;
}


.img4{
  width: 140px;
  position: relative;
  bottom: 630px;
}
.img4t{
    grid-area: 19/5/span 1 / span 2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 800px;
    left: 180px;
    width: 70%;
    
}


html,body{
  margin: 0;
}
.img5{
  width: 150px;
  position: relative;
  bottom: 370px;
}
.img5t{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  bottom: 500px;
  left: 180px;
  margin-bottom: -100px;
  
}

#notification{
  fill: white;
  position: fixed;
  top: 520px;
  left: 280px;
  width:60px;
  height: 60px;
  background-color: #fa4252;
  padding: 10px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer ;
}
/*made it in a way that when you click on it, it allows you to fill in your infomation*/
/*styling for the notification bell*/

/* signup popup bell */
.sign{
  font-weight: 700;
  background: linear-gradient(56deg, rgba(203,231,148,1) 9%, rgba(145,189,58,1) 68%);
  position: fixed;
  top: 190px;
  left: 35px;
  width: 80vw;
  display: none;
  color: white;
  text-align: left;
  overflow: hidden;
}

/* sign in styling */
.not{
    margin-top: 15px;
    text-align: center;
}

/* input styling */
input#emailInput{
  border: none;
  margin-left: 12px;
  padding:10px 5px;
  width: 250px;
}

.subbtnEmail{
    border: none;
    width: 260px;
    padding: 10px;
    margin-left: 12px;
    background-color: #ffa259;
    margin-bottom: 15px; 
}

/* p tag of whats your phone number styling */
#q {
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10px;
}

.rapper {
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  height: 100%;
  top:50px;
  left:0;
  display: none;
}

#footer {
  position:fixed;
  background-color: black;
  width: 100vw;
  height: 10vh;
  position: relative;
  top: 160px;
  right: 10px;
     
}
  
#facebook, #instagram , #twitter , #whatsapp {
 fill: #fa4252;
  
}
  
#whatsapp {
  position: absolute;
  left: 330px;
      
}
  
#twitter {
  position: absolute;
  left: 290px;
      
}
  
#instagram {
  position: absolute;
  left: 250px;
      
}
  
#facebook {
  position: absolute;
  left: 210px;
      
}
  
.para {
  color: white;
  position: relative;
  left: 15px;
  top: 25px;
  
}
  

 